.jamiat-list {
  transform: translate(20%, 22%);
}

.mumineen-list {
  transform: translate(39%, 22%);
}

@media only screen and (max-width: 600px) {
  .jamiat-list {
    transform: translate(12%, 22%);
  }
  .mumineen-list {
    transform: translate(21%, 22%);
  }
}
